<div class="faq-header" ng-if="faq.showFaq">
  <div class="container">
    <md-button class="md-icon-button" ng-click="faq.showFaq = false">
      <md-icon class="mdi mdi-close"></md-icon>
    </md-button>
    <div class="content">
      <h2>Hartwig Medical Foundation Download Portal</h2>
      <h3>The portal</h3>
      <p>Via this portal you have access to molecular data from your group or center. For each sample/patient certain files can be downloaded by creating links (valid for 24 hours). The links can be used to download (via browser or standard tools like WGET/cURL) or, in the case of indexed files like the BAM format, directly read ("stream") into a program like IGV (Integrative Genome Browser) so you do not have to download large files completely just to check a small part of them.</p>

      <h3>Good to know</h3>
      <ul>
        <li>Files can be very large (up to 300GB) so please check before starting a download!</li>
        <li>The session time is 2 hours, after this period you will have to login again</li>
        <li>Links are valid for 24 hours, after this period you will have to create new links</li>
        <li>This portal contains "molecular" data, no clinical information (for data requests that require clinical information please see our <a href="https://www.hartwigmedicalfoundation.nl/databeleid/" target="_blank">Data Policy</a>)</li>
        <li>Examples of available data formats are BAM, gVCF and VCF</li>
        <li>See below for some usage examples</li>
      </ul>
      <p>Please let us know if you have comments or want to share your portal experience. For more information and contact please visit our <a href="https://www.hartwigmedicalfoundation.nl" target="_blank">website</a>.</p>

      <h2>Usage examples</h2>
      <h3>Example loading BAM file in IGV:</h3>
      <ul>
        <li>create the links for the BAM and accompanying BAI file (by clicking the most right icon next to a run)</li>
        <li>open the IGV program and choose option "Load from URL"</li>
        <li>paste the BAM file link at field "File URL"</li>
        <li>paste the BAI file link at field "Index URL"</li>
      </ul>
      <p>Note: same procedure applies to VCF files</p>

      <h3>Example download using WGET:</h3>
      <ul>
        <li>create the links (by clicking the most right icon next to a run)</li>
        <li>copy the links into a new text file (eg download.txt)</li>
        <li>use the following command to download:</li>
      </ul>

      <code>wget --content-disposition -i download.txt</code>

      <p>Note: we also recommend to check out the <a href="https://aria2.github.io" target="_blank">aria2 download tool</a>. This will allow you to download with mutiple streams speeding up the download significantly.</p>

      <md-button class="md-primary md-raised" ng-click="faq.showFaq = false">Close</md-button>
    </div>
  </div>
</div>
