@max-content-width: 1200px;
@primary-color: rgb(40, 76, 153);
@light-background: rgb(244, 244, 246);

md-tooltip {
  .md-content {
    color: white;
    background: #e62a27;
    font-size: 12px;
  }
}

.run-list {
  background-color: transparent;


  md-toolbar {
    &.md-table-toolbar {
      &:not(.md-menu-toolbar) {
        &.md-default {
          background-color: @primary-color;
          color: white;
        }
      }
    }

    .md-toolbar-tools {
      max-width: @max-content-width;
      margin: 0 auto;
      padding: 0;
      position: relative;
      background-color: @primary-color;
      position: relative;

      span {
        font-family: 'Bitter', serif;
        color: white;
        font-weight: 600;
        font-size: 24px;
      }

      > .md-icon-button {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 24px;

        &.faq-button {
          margin-right: 40px;
        }

        &.disclaimer-button {
          margin-right: 90px;
        }

        md-icon {
          color: white;
        }
      }
    }
  }

  md-table-container {
    display: block;
    width: 100%;
    max-width: @max-content-width;
    margin: 0 auto;

    .filter-toolbar {
      height: 64px;
      width: 100%;
      box-sizing: border-box;
      float: left;

      span:first-child {
        color: rgb(100, 100, 100);
        line-height: 10px;
      }

      md-datepicker {
        input {
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.54);
          line-height: 15px;
          padding: 3px;
        }

        .md-datepicker-button {
          md-icon {
            color: rgba(0, 0, 0, 0.34);
          }
        }

        .md-datepicker-input-container {
          margin-left: 0;
          background-color: @light-background;
          border-bottom: none;
          padding: 4px 10px;
        }

        .md-datepicker-triangle-button {
          right: 10px;
        }

        &.md-datepicker-open {
          .md-datepicker-input-container {
            background-color: transparent;
          }
        }
      }

      .separator {
        float: left;
      }

      .search {
        position: relative;
        float: right;

        md-icon {
          position: absolute;
          top: 7px;
          left: 14px;
          font-size: 24px;
        }

        input {
          padding-left: 45px;
          border: none;
          height: 33px;
          width: 170px;
          background-color: @light-background;
          color: rgb(100, 100, 100);
          font-weight: 400;
          font-family: 'Lato', sans-serif;
          font-size: 16px;

          &:focus {
            outline: none;
          }

          ::-webkit-input-placeholder,
          :-moz-placeholder,
          ::-moz-placeholder,
          :-ms-input-placeholder {
            font-weight: 400;
            color: rgb(119, 119, 119);
          }
        }
      }
    }

    .multiple-actions {
      height: 64px;
      padding: 0;
    }

    table {
      thead, tbody {
        tr {
          th:first-child,
          td:first-child {
            padding: 0 24px 0 0!important;
          }

          th:last-child,
          td:last-child {
            padding: 0 0 0 24px!important;
          }
        }
      }

      thead {
        th {
          color: @primary-color!important;
          font-size: 16px!important;
          font-family: 'Bitter', serif!important;
          text-transform: uppercase;
          text-align: left;
          line-height: 35px;

          &:nth-child(2) {
            padding: 0!important;
          }

          &.date-column {
            width: 150px;
          }

          md-icon {
            visibility: hidden;

            svg {
              fill: @primary-color;
              height: 80%;
            }
          }

          &.md-active {
            md-icon {
              visibility: visible;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            color: #646464!important;
            font-size: 16px!important;
            font-family: 'Lato', serif!important;

            &:nth-child(2) {
              padding-left: 0!important;
            }
          }

          &:last-child {
            td {
              border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            }
          }
        }
      }
    }
  }

  md-table-toolbar {
    padding-left: 0;
  }

  md-table-pagination {
    width: 100%;
    max-width: @max-content-width;
    margin: 10px auto 0 auto;
    border-top: none;

    .limit-select {
      .label {
        font-size: 16px;
        margin-right: 10px;
      }
    }

    md-select {
      background-color: @light-background;
      padding: 2px 8px!important;
      font-size: 16px;
      min-width: 45px;

      > md-select-value {
        > span.md-select-icon {
          color: rgba(0, 0, 0, 0.44)!important;
        }
      }
    }

    .buttons {
      .label {
        font-size: 16px;
      }

      button {
        &.md-icon-button {
          height: 30px;
          width: 30px;
          border-radius: 0;
          margin-right: 10px!important;

          min-width: 0;
          min-height: 0;
          padding: 0;
        }
      }

      // previous and next button
      button:nth-child(3),
      button:nth-child(4) {
        background-color: @primary-color;

        &:disabled {
          background-color: rgba(54, 76, 153, 0.35);
        }

        &:hover:not(:disabled) {
          background-color: @primary-color;
        }

        md-icon {
          color: white;
        }
      }
    }
  }
}


md-dialog {
  .md-toolbar-tools {
    h2 {
      color: white;
      font-family: 'Bitter',serif !important;
    }

    .mdi {
      font-size: 22px;
    }
  }
}
