<runs-list>
  <iframe id="download" style="display: none;"></iframe>
  <md-content class="run-list" layout="column" flex>
    <md-card>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>Runs</span>
        </div>
      </md-toolbar>
      <md-data-table-container>
        <div class="filter-toolbar" layout="row" layout-align="start center" ng-if="runsList.selected.length === 0">
          <span>Between:</span>
          <md-datepicker ng-model="runsList.startDate"
                         ng-change="runsList.setDateFilter()"
                         md-max-date="runsList.endDate"
                         md-placeholder="Enter date"></md-datepicker>
          <md-datepicker ng-model="runsList.endDate"
                         ng-change="runsList.setDateFilter()"
                         md-min-date="runsList.startDate"
                         md-max-date="runsList.today"
                         md-placeholder="Enter date"></md-datepicker>
          <div flex></div>
          <div class="search">
            <md-icon class="mdi mdi-magnify"></md-icon>
            <input type="search" ng-model="runsList.searchText" ng-model-options="{debounce: 300}" placeholder="Search..." />
          </div>
        </div>
        <div class="multiple-actions" layout="row" layout-align="start center" ng-if="runsList.selected.length > 0">
          <span>Selected: {{runsList.selected.length}} runs</span>
          <div flex></div>
          <md-button ng-click="runsList.downloadSelected($event)">Download selected</md-button>
          <md-button ng-click="runsList.copySelected($event)">Copy selected</md-button>
        </div>
        <table md-data-table
              md-row-select="runsList.selected"
              multiple="true"
              ng-hide="runsList.searchText && runsList.runsStore.items.length === 0">
          <thead md-order="runsList.sortExpression">
            <tr md-row>
              <th name="Name" order-by="name"></th>
              <th name="Create date" order-by="createTime"></th>
              <th name="Status" order-by="statue" md-desc></th>
              <th></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="run"
                md-disable-select="!run.files || run.files.length === 0"
                ng-repeat="run in runsList.runsStore.items">
              <td md-cell>{{run.name}}</td>
              <td md-cell>{{run.createTime | date : format : medium}}</td>
              <td md-cell>{{run.status}}</td>
              <td md-cell class="actions-column">
                <md-menu md-position-mode="target-right target" ng-if="run.files && run.files.length > 0">
                  <md-button class="md-icon-button"
                             aria-label="Download button"
                             ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin><span class="mdi mdi-download"></span></md-icon>
                  </md-button>
                  <md-menu-content class="download-menu" width="3">
                    <!-- empty menu item fixes issue where first item gets focus on opening the menu -->
                    <md-menu-item ng-show="false"><p></p></md-menu-item>
                    <md-menu-item layout="column" flex>
                      <md-checkbox ng-repeat="file in run.files"
                                   md-prevent-menu-close
                                   ng-model="file.selected"
                                   aria-label="{{file.name}}">{{file.name}}</md-checkbox>
                      <hr />
                      <md-button ng-disabled="!runsList.canDownloadOrCopy(run.files)"
                                 md-prevent-menu-close
                                 ng-click="runsList.download($event, run)">DOWNLOAD</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>

                <md-menu md-position-mode="target-right target" ng-if="run.files && run.files.length > 0">
                  <md-button class="md-icon-button"
                             aria-label="Link button"
                             ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin><span class="mdi mdi-content-copy"></span></md-icon>
                  </md-button>
                  <md-menu-content width="6" class="links-menu">
                    <!-- empty menu item fixes issue where first item gets focus on opening the menu -->
                    <md-menu-item ng-show="false"><p></p></md-menu-item>
                    <md-menu-item layout="column" flex>
                      <textarea id="links-area-{{$index}}" rows="5" readonly value="downloadLinks">{{run.linksText}}</textarea>
                      <div layout="row" class="checkboxes">
                        <md-checkbox ng-repeat="file in run.files"
                                     ng-change="runsList.generateLinks(run)"
                                     ng-disabled="run.generatingLinks"
                                     md-prevent-menu-close
                                     ng-model="file.selected"
                                     aria-label="{{file.name}}">{{file.name}}</md-checkbox>
                      </div>
                      <hr />
                      <div class="actions" flex layout="row" layout-align="end center">
                        <md-progress-circular ng-if="run.generatingLinks"
                                              md-mode="indeterminate"
                                              md-diameter="20px"></md-progress-circular>
                        <md-button ng-disabled="!run.linksText || run.linksText.length === 0 || run.generatingLinks"
                                   md-prevent-menu-close
                                   ngclipboard
                                   ngclipboard-success="runsList.copySuccess()"
                                   data-clipboard-target="#links-area-{{$index}}">COPY</md-button>
                      </div>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
        <md-data-table-toolbar ng-if="runsList.searchText && runsList.runsStore.items.length === 0">No results matching: '{{runsList.searchText}}'</md-data-table-toolbar>
        <md-data-table-toolbar ng-if="runsList.loadingError">An error occured, try again later....</md-data-table-toolbar>
      </md-data-table-container>

      <md-data-table-pagination md-limit="runsList.pagination.limit"
                                md-row-select="[10, 25, 50, 100]"
                                md-page="runsList.pagination.page"
                                md-total="{{runsList.pagination.total}}">
      </md-data-table-pagination>
    </md-card>
  </md-content>
  <div id="copy-success">Copied to clipboard</div>
</run-list>
