.run-list {
  padding: 15px;
  background-color: transparent;

  .filter-toolbar {
    padding-left: 22px;
    height: 64px;
    width: 100%;
    box-sizing: border-box;

    .search {
      position: relative;
      margin-right: 25px;

      md-icon {
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.57);
      }

      input {
        border-radius: 4px;
        padding-left: 35px;
        border: 1px solid rgba(0, 0, 0, 0.27);
        height: 24px;
        width: 200px;
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .multiple-actions {
    height: 64px;
    padding: 0 22px;
  }

  .md-table-toolbar {
    .md-toolbar-tools {
      padding-left: 22px;
    }
  }

  .actions-column {
    width: 120px;
    padding: 5px 0 0 0!important;

    button {
      float: left;

      span.mdi {
        font-size: 20px;
      }
    }
  }
}

.download-menu,
.links-menu {
  padding: 20px;
  height: auto;
  max-height: none;

  md-menu-item {
    height: auto;
    max-height: none;
  }

  hr {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.27);
  }

  a {
    padding: 0;
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    text-align: right;
    padding-right: 25px;
    box-sizing: border-box;
  }
}

.download-menu {
  md-checkbox {
    margin-bottom: 10px;
  }
}

.links-menu {
  textarea {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }

  .checkboxes {
    padding: 0;
  }
}

.download-selected-dialog,
.copy-selected-dialog {
  min-width: 355px;

  .md-toolbar-tools {
    .mdi {
      font-size: 22px;
    }
  }

  md-dialog-content {
    padding: 15px;

    textarea {
      margin-bottom: 10px;
      width: 100%;
    }

    .checkboxes {
      border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    }
  }

  button {
    float: right;
  }
}

.copy-selected-dialog {
  min-width: 500px;
}
