<div class="disclaimer-header" ng-if="disclaimer.disclaimerStore.showDisclaimer">
  <div class="container">
    <div class="content">
      <h3>DISCLAIMER</h3>
      <p>
        You have been granted access to the Data Portal of Hartwig Medical Foundation in order to obtain certain files. Please note and be aware that these files may only be used for the agreed purpose for which you have been granted access to the files and under the agreed conditions (which may be laid down in a service agreement, collaboration agreement, licence agreement or clinical trial agreement).
      </p>

      <h4>Privacy Policy</h4>
      <p>
        You have been granted access to the Data Portal of Hartwig Medical Foundation in order to obtain certain files. In the context thereof, Hartwig Medical Foundation will process certain personal data relating to you, such as your access details and log files relating to your activity in the Data Portal. For more information in this respect, please see the license agreement or the service agreement entered into with Hartwig Medical Foundation and our Privacy Policy, which can be accessed here <a href="https://www.hartwigmedicalfoundation.nl/en/privacy-policy/" target="_blank">here</a>.
      </p>

      <md-button class="md-primary md-raised" ng-click="disclaimer.acceptDisclaimer()">Understood</md-button>
    </div>
  </div>
</div>
