<div class="disclaimer-header" ng-if="disclaimer.disclaimerStore.showDisclaimer">
  <div class="container">
    <div class="content">
      <h3>DISCLAIMER CPCT-02</h3>
      <p>Data collected as part of the CPCT-02 protocol is only to be used to investigate specific research questions within the scope of this protocol and according to the study contract.</p>
      <p>Distribution and/or sharing of these data is not allowed without prior approval of the sponsor. Approval from the sponsor is required prior to distribution of data to countries outside of the European Union (also for anonymized or coded data).</p>
      <p>Please be aware that these data are for internal use only.</p>

      <h4>Scope of the CPCT-02 protocol</h4>
      <p>The primary objective of this study is to analyze cancer genomes of individual patients to develop future predictors for response to systemic treatment.</p>
      <p>Secondary objectives of this study are:</p>
      <ul>
        <li>To determine the amount of biopsy samples with sufficient DNA for analysis</li>
        <li>To determine the amount of biopsy samples with an adequate mutational profile</li>
        <li>To collect and anonymously interpret all mutational profiles obtained using this protocol</li>
        <li>To determine changes in the mutational profile under the influence of systemic treatment</li>
        <li>To explore and analyze the individual microRNA, (phospho-) proteomic profiles and organoid cultures in patients with cancer to develop future predictors for response to systemic treatment</li>
        <li>To explore the correlation between mutational profiles in solid tumor biopsies and liquid biopsies (circulating tumor DNA)</li>
      </ul>
      <p>More information on the CPCT02 protocol can be found <a href="http://www.cpct.nl/cpct-02-informatie-voor-deelnemende-centra/" target="_blank">here</a>.</p>

      <md-button class="md-primary md-raised" ng-click="disclaimer.acceptDisclaimer()">Understood</md-button>
    </div>
  </div>
</div>
